[Desktop Entry]
Name=Articles
Type=Application
Exec=/home/daniel/git/qe-base/dist/electron/articles-linux-x64/balance
Terminal=false
Icon=/home/daniel/git/articles/tomate.png
NoDisplay=false
Categories=Development;IDE;
Name[fr_FR]=Articles
